@charset "utf-8";
/* CSS Document */
/* 涓汉涓績 */
.breadcrumb{overflow: hidden;}
.breadcrumb li{float: left;color: #444;height:30px;}
.personalCenter{background:#fff;padding:20px;min-height: 700px;_height:700px;position: relative;}
.center-sidebar{width: 130px;float: left;}
.center-sidebar a{width: 128px;height: 38px;overflow: hidden;display: block;border:#999 solid 1px;line-height: 38px;text-indent: 45px;position: relative;color:#222;}
.center-sidebar a:hover,
.center-sidebar a.slideactive{border:#037b00 solid 1px;color:#037b00;}
.center-sidebar span{width: 16px;height: 18px;display: block;position: absolute;top:10px;left: 20px;background-image:url(/resourcesWeb/images/Pcenter/psidebar_ico.png);background-repeat: no-repeat;}
.center-sidebar span.ddgl{background-position:0px 1px;}
.center-sidebar span.fygl{background-position:0 -28px;}
.center-sidebar span.jsgl{background-position:-1px -56px;}
.center-sidebar span.dpgl{background-position:-1px -85px;} 
.center-sidebar span.myzs{background-position:-2px -113px;}
.center-sidebar span.xxtz{background-position:-1px -136px;}
.center-sidebar span.zhgl{background-position:-24px -163px;}
.center-sidebar span.myorder{background-position: 1px -188px;}
.center-sidebar span.ddgl_current,
.center-sidebar a:hover .ddgl{background-position:-22px 1px;}
.center-sidebar span.fygl_current,
.center-sidebar a:hover .fygl{background-position:-23px -28px;}
.center-sidebar span.jsgl_current,
.center-sidebar a:hover .jsgl{background-position:-22px -56px;}
.center-sidebar span.dpgl_current,
.center-sidebar a:hover .dpgl{background-position:-23px -85px;}
.center-sidebar span.myzs_current,
.center-sidebar a:hover .myzs{background-position:-24px -113px;}
.center-sidebar span.xxtz_current,
.center-sidebar a:hover .xxtz{background-position: -24px -136px;}
.center-sidebar span.zhgl_current,
.center-sidebar a:hover .zhgl{background-position:-2px -163px;}
.center-sidebar span.myorder_current,
.center-sidebar a:hover .myorder{background-position: -22px -188px;}
.centerCon{width: 790px;float:right;}
.centerTab{height: 39px;border-bottom:#999 solid 1px;}
.centerTab li{height: 38px;line-height: 38px;text-align: center;border:#999 solid 1px;border-bottom:none;cursor: pointer;float: left;width: 98px;margin-right: 10px;background:#fff;}
.centerTab li.active{height:39px;font-weight: bold;}
.center-sidebar li{margin-bottom: 16px;}
/* 璐︽埛绠＄悊 */ 
.accountMt{border:#999 solid 1px;border-top:none;}
.MtList{padding: 20px;display: none;}
.pd10{padding:20px 10px;}
.avatar-box{width: 100px;overflow: hidden;float: left;}
.avatar{width: 100px;height: 100px;}
.avatar-box p{text-align: center;margin-top: 5px;}
.alertAvatar{color:#ff8a00;font-size: 12px;}
.tabCon{overflow: hidden;float: right;}
.userInfo{width: 590px;padding-bottom: 20px;}
.userInfo li{margin-bottom: 15px;position: relative;line-height: 25px;}
.userInfo li p{margin-bottom: 10px;}
.userInfo li p.pl{padding-left: 80px;}
.infoTitle{display: inline-block;width: 80px;height:25px;line-height:25px;overflow: hidden;float: left;}
.personLargeInput{width: 178px;height: 23px;line-height: 23px;padding:0 3px;border:#999 solid 1px;float: left;}
.prompt,.prompterror{float: left;margin-left: 10px;}
.prompterror{color:#e93332;}
.prompt,
.namenotice,
.prompterror{line-height: 24px;font-size: 12px;}
.prompt,.namenotice{color:#888;}
.namenotice{position: absolute;top:28px;left: 80px;}
.inBlockLab{display: inline-block;line-height: 23px;margin-right: 50px;}
.inBlockLab input{float: left;margin: 5px 3px 0 0;*margin: 2px 2px 0 0;}
.ccitySelect{width: 120px;height: 23px;border:#999 solid 1px;padding-left: 3px;margin-right: 5px;}
.checking{font-size: 12px;color:#ff8a00;line-height: 25px;margin-left: 15px;}
.submit-wrap{overflow: hidden; margin-bottom: 10px;}
.save-btn,
.AddNewAt-btn,
.securitycode{background-image: url(/resourcesWeb/images/bookorder/indent_icon.png);background-repeat: no-repeat;}
.save-btn,
.AddNewAt-btn{display:inline-block;height: 38px;text-align: center;line-height: 38px;border:#3ba202 solid 1px;border-radius:2px;background-repeat: repeat-x;background-position: 0 0;font-size:16px;color:#fff;}
.save-btn{width: 98px;margin: 0 auto;display: block;}
.AddNewAt-btn{width: 118px;}
.submit-wrap a:hover{background-position:0 -40px;}
.gathering{width: 748px;}
.gathering td{height: 50px;}
.gathering,.coupontable{color:#010101;}
.gathering th,.coupontable th{background:#f2f2f2;text-align: center;height: 30px;}
.gathering td,.coupontable td{text-align: center;border:#f2f2f2 solid 1px;}
.gathering td a.handle{color:#ff8a00;}
.securitycode{width: 78px;height: 25px;border:#bcbcbc solid 1px;background-position: 0 -328px;background-repeat: repeat-x;cursor: pointer;font-size: 12px;color: #444;float: left;margin-left: 10px;border-radius:3px;}
/* 淇敼澶村儚 */
.alteravatar{margin: 18px auto 18px;width: 284px;height: 266px;border:#ccc solid 1px;background:url(/resourcesWeb/images/Pcenter/alertavatar.png) repeat;}
.btn-box input.uploadinput{padding-bottom:0;width: 64px;background: none;}
/* 閭楠岃瘉 */
.alert-close,
.proving dt,
.rigth,
.letter,
.inforsub li a.inforsee-down,
.inforsub li a.inforsee-up{background-image: url(/resourcesWeb/images/Pcenter/alert_box.png);background-repeat:no-repeat;}
.alert-box,.smallalert-box{display: none;border: #bababa solid 1px;overflow: hidden;box-shadow: 0px 2px 7px #BABABA;background: #fff;padding-bottom:10px;}
.alert-box{width: 440px;}
.smallalert-box{width: 340px;}
.alert-title{position:relative;height: 45px;border:#fff solid 1px;border-right: none;background:#f6f5f5;line-height: 45px;text-align: center;font-size: 16px;color: #4c4c4c;}
.alert-close{display:block;position:absolute;top:-1px;right:0;width: 37px;height: 30px;background-color:#e0e0de;background-position:11px 7px;}
.alert-close:hover{background-position:-20px 7px;}
.alert-con{overflow: hidden;}
.alert-list{padding:25px 20px 0 20px;overflow: hidden;}
.paddingleft{padding:25px 20px 0 80px;}
.paddingtop{padding:50px 20px 25px 80px;}
.alert-list li{overflow: hidden;margin-bottom: 24px;}
.alert-label{float: left;text-align: left;display: block;line-height: 25px;color:#4c4c4c;}
.alert-labellarge{width: 115px;overflow: hidden;white-space:nowrap;}
.alert-labelmid{width: 85px;}
.alert-radio{float: left;margin: 6px 5px 0 0;*margin: 4px 1px 0 0;}
.alert-input{width: 159px;height: 23px;line-height: 23px;border:#999 solid 1px;padding:0 5px;float: left;margin-top: 1px;color:#808080;}
.alert-btn{width: 80px;height: 27px;float: left;margin-left: 10px;border-radius:2px;font-size: 12px;cursor:pointer;background-position: 0 -136px;color:#808080;}
.alert-btn:hover,.alertactive-btn{background-position: 0 -164px;}
.alertactive-btn{color:#ff8a00;}
.checking-btn{margin:0 auto;display:block;height: 30px;border-radius:2px;cursor:pointer;background-image: url(/resourcesWeb/images/Pcenter/btn_bg.png); background-repeat: repeat-x;background-position: 0 0;color:#fff;}
.checking-btn:hover{background-position: 0 -32px;}
.alert-notice{color:#808080;font-size: 12px;padding:0 20px 0 20px;}
.alert-notice p{line-height: 23px;}
.goalmail{overflow: hidden;padding:50px 0 30px 45px;height: 50px;}
.gomail{color:#ff8a00;}
.proving{overflow: hidden;padding:38px 0 35px 136px;}
.proving dt{width: 48px;height: 53px;float: left;}
.proving dt.succeed{background-position: 0 -60px;}
.proving dt.fail{background-position: 0 -115px;}
.proving dd{color: #33a027;font-size: 18px;margin-left:60px;padding-top: 15px;}
.proving dd.fail{color:#ea3232;}
/*鎵嬫満楠岃瘉*/
.imporant{color:#ff8a00;line-height: 25px;}
.rigth{display: block;margin:5px 8px 0 0;width: 25px;height: 17px;float: left;background-position: 0px -32px;}
/* 娑堟伅閫氱煡 */
/*鑱婂ぉ淇℃伅*/
.chatinfo,.comment-manage{overflow: hidden;padding:10px;border:#d7dbde solid 1px;margin-bottom: 15px;}
.chatinfo{height: 90px;}
.chatinfo:hover{background:#edf4fa;box-shadow: 0px 1px 5px #D7DBDE;}
.chatavatar,.comment-manageavatar{width: 90px;height: 90px;overflow: hidden;float: left;}
.chatcontitle,.comment-manageavacon{width:635px;float: right;}
.chatcontitle h3{position: relative;overflow: hidden;line-height: 25px;color:#4c4c4c;}
.statistics{position: absolute;top: 0;right: 0;color:#999;}
.chatellipsis{color:#666;margin-top: 5px;height: 25px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.chatcontitle a{color:#458fce;}
.topt{margin-top: 15px;}
.topt li{float: right;margin-left: 30px;}
.removetext{height: 117px;line-height: 117px;overflow: hidden;text-align: center;color:#666;}
.o-cancel{padding: 40px 0;height:auto;line-height: normal;}
.o-cancel p{text-align: left;padding-left: 58px;line-height: 30px;}
.f16{font-size: 16px;}
.o-cancel p.t-center{text-align: center;padding: 0;}
/* 鑱婂ぉ璁板綍 */
.dialogue-title{float: right;position: absolute;top: 0;right: 0;width: 780px;height:59px;border-bottom:#eaeaea solid 1px;background:#fafafa;line-height: 59px;padding-left: 25px;box-shadow:2px 2px 2px #f5f5f5;color:#4c4c4c;}
.opposite{font-weight: bold;}
.object{color:#3d7dca;}
.goback,
.contactopp,
.alert-btn,
.alertactive-btn,
.warn-btn,
.gray-btn,
.small-btn,
.green-btn{background-image: url(/resourcesWeb/images/Pcenter/button_icon.png);background-repeat: no-repeat;}
.goback{display: block;position: absolute;top: 17px;right: 30px;width: 58px;height: 29px;background-position:0 0;line-height: 29px;text-indent: 20px;color:#808080;}
.goback:hover{background-position:0 -33px;}
.chatrecord{float:right;width: 750px;overflow: hidden;margin: 42px 0 30px 0;}
.chattitle{height: 50px;border-bottom:#d9d9d9 solid 1px;overflow: hidden;}
.chatdate{font-size:18px;color: #ff8a00;line-height: 66px;float: left;}
.contact-box{float: right;margin-top: 10px;width: 93px;height: 32px;overflow: hidden;}
.contactopp{display: block;width: 93px;height: 32px;color: #54994c;text-align:center;line-height: 32px;background-position: 0 -67px;}
.contactopp:hover{background-position: 0 -101px;}
.chatcon{overflow: hidden;}
.otherone{color:#33a027;margin-top: 15px;}
.oneself{color:#808080;margin-top: 15px;}
.chatcon b{font-weight: normal;}
.chatlist{color: #4c4c4c;}
.oneself p,.otherone p{line-height: 23px;}
.oneself span,.otherone span{margin-right: 20px;}
/*娲诲姩閫氱煡*/
.inform{padding:10px;overflow: hidden;border:#ccd2d6 solid 1px;position: relative;margin-bottom: 15px;}
.inform:hover{background:#edf4fa;}
.letter{width: 64px;height: 51px;background-position: 0 -170px;margin: 15px 0 0 7px;float: left;}
.letter-con{float: right;width: 650px;}
.letter-con h3{font-size: 14px;font-weight: bold;color:#4c4c4c;margin-bottom: 8px;}
.letter-p{height:47px;overflow:hidden;color: #666;font-size: 13px;line-height: 23px;}
.inforsub{width:215px;overflow: hidden;float: right;margin-top: 5px;} 
.inforsub li{float: left;color: #999;font-size: 12px;margin-right: 10px;overflow: hidden;}
.inforsub li a{color:#4690d2;padding-left: 20px;}
.inforsub li a.inforsee-down{background-position: -30px -23px;_background-position: -30px -26px;}
.inforsub li a.inforsee-up{background-position: -30px -40px;_background-position: -30px -43px;}
/*娣诲姞璐﹀彿*/
.alert-box{width: 440px;border: #bababa solid 1px;overflow: hidden;box-shadow: 0px 2px 7px #BABABA;background: #fff;padding-bottom:10px;}
.midalter-box{width:361px;}
.alert-title{position:relative;height: 45px;border:#fff solid 1px;border-right: none;background:#f6f5f5;line-height: 45px;text-align: center;font-size: 16px;color: #4c4c4c;}
.alert-close{display:block;position:absolute;top:-1px;right:0;width: 37px;height: 30px;background-color:#e0e0de;background-position:11px 7px;}
.alert-close:hover{background-position:-20px 7px;} 
.alert-con{overflow: hidden;}
.alert-list{padding:25px 20px 0 20px;overflow: hidden;}
.btn-box{padding-bottom:20px;}
.btn-box input{padding-bottom: 3px;}
.checking-btn{display:block;border-radius:2px;cursor:pointer;background-image: url(/resourcesWeb/images/Pcenter/btn_bg.png); background-repeat: repeat-x;}
.checking-btn{margin:0 auto;height: 30px;background-position: 0 0;color:#fff;}
.checking-btn:hover{background-position: 0 -32px;}
.add-account{overflow: hidden;padding-left: 61px;height:48px;background:url(/resourcesWeb/images/homes/tab_bg.png) no-repeat bottom;margin-top: 13px;}
.add-account a{width: 88px;height:35px;text-align: center;line-height: 35px;border:#999 solid 1px;float: left;cursor: pointer;margin-right: 22px;border-bottom:none;}
.add-account a.addcurrent{height:36px;background:#f6f5f5;font-weight: bold;}
.add-con{overflow: hidden;position: relative;}
.alipay,
.tenpay,
.bankcard,
.alter-pricebox{padding:16px 0 0 57px;display:none;}
.alipay li,
.tenpay li,
.bankcard li,.alter-pricebox li{position: relative;color: #4c4c4c;margin-bottom: 26px;}
.add-input,.add-select{border:#9d9d9d solid 1px;color: #4c4c4c;line-height: 23px;}
.add-input{width: 159px;height: 23px;padding: 0 5px;margin-left: 8px;}
.add-select{width: 170px;height: 26px;padding-left: 5px;margin-left: 5px;}

.tooltip{position: absolute;top:29px;left: 102px;color:#e93332;font-size: 12px;}
.ltleft{left: 118px;}
.warn-btn,.gray-btn,.green-btn{height:32px;cursor: pointer;color: #fff;}
.warn-btn,.gray-btn{width: 92px;}
.warn-btn{background-position: 0px -193px;margin-right: 10px;}
.gray-btn{background-position: 0 -259px;color:#999;}
.green-btn{width: 112px;background-position: 0 -380px;}
.warn-btn:hover{background-position: 0 -226px;}
.gray-btn:hover{background-position: 0 -292px;}
.green-btn:hover{background-position: 0 -414px;}
.mlcenter{margin-left: 127px;}
.center{margin:0 auto;display: block;}
/* 浼樻儬淇℃伅 */
.none{color:#c2c7cc;}
.couponpaging{border:#000 solid 1px;overflow: hidden;}
.couponbox h4{font-weight: bold;color:#666;margin:50px 0 10px 0;}
.couponbox p{color:#808080;line-height: 23px;}
.bordercolor{background:#fff;padding-left: 3px;}
.selectoption{padding-bottom:20px;}
.selectoption li{float: left;margin-right: 40px;color: #4c4c4c;}
.selectradio{float: left;margin: 5px 3px 0 0;*margin: 3px 2px 0 0;}
.couponalert{color:#808080;font-size: 14px;float: left;padding-left: 20px;margin-right: 20px;}
.coupontable{margin:20px 0 20px 24px;width: 390px;height: 130px;}
.coupontable td{height: 25px;}
/* 鍙戣〃璇勮 */
.comment{padding: 0 30px;overflow: hidden;}
.comment-title{font-weight: bold;color: #4c4c4c;}
.rating-star-box{padding-top: 5px;}
.rating-star-box li{float: left;width: 185px;margin-bottom: 5px;}
.rating-star,.rating-star a{background-image: url(/resourcesWeb/images/Pcenter/star_icon.png);background-repeat: no-repeat;background-position: 0 1px;}
.rating-star{position: relative;display: block;width: 100px;height: 16px;float: left;margin-top: 5px;}
.rating-star a{position:absolute;top: 0;left: 0;display: inline-block;width: 17px;height: 15px;}
.rating-star a{background-position: -1000px 1000px;}
.star-1 a{width: 17px;z-index: 6;}
.star-2 a{width: 32px;z-index: 5;}
.star-3 a{width: 49px;z-index: 4;}
.star-1 a:hover,
.star-2 a:hover,
.star-3 a:hover,
.star-1 a.rating-cur,
.star-2 a.rating-cur,
.star-3 a.rating-cur{background-position: 0 -16px;}
.rating-star-box label{float:left;display: inline-block;width: 65px;height: 25px;line-height: 25px;color: #666;}
.comment-textarea{width:95%;height: 105px;padding: 10px;border: #ccc solid 1px;border-radius: 2px;-moz-box-shadow:51px 3px 4px #ededed inset; -webkit-box-shadow:1px 3px 4px #ededed inset;box-shadow:1px 3px 4px #ededed inset;color: #BDBDBD;resize:none;}
/* 缈婚〉 */
.pager{overflow: hidden;margin-top: 65px;text-align: center;}
.pager a{display: inline-block;height: 24px;overflow: hidden;padding: 0 8px;line-height: 24px;text-align: center;border: #e5e5e5 solid 1px;margin-right: 5px;background:#f5f5f5;}
.pager a:hover,.pager a.active{border:#40b791 solid 1px;}
.pager a.active{background:#7cd5b1;color:#fff;}
/* 瀛椾綋 */
.fontsize12{font-size: 12px;}
/* 鎸夐挳 */
.small-btn{width:59px;height: 26px;background-position:0px -325px;color:#666;cursor: pointer;padding-bottom: 2px;margin-left: 10px;}
.small-btn:hover{background-position:0 -352px;}
.large-btn{width: 140px;}
.mid-btn{width: 120px;}
.samll-bton{width: 80px;}
.btn{cursor: pointer;margin-right: 10px;}
/* 闂磋窛 */
.pdtop20{padding-top:20px;}
.pdlt140{padding-left: 140px;}
.mgtp10{margin-top: 10px;}
.mgtp20{margin-top: 20px;}
.mgtp30{margin-top: 30px;}
.mglt20{margin-left: 20px;}
.mglt110{margin-left:110px;}
.pdbm30{padding-bottom:30px;}
.pd00{padding:0}
.nomargin{margin:0;}
.displayinline{display: inline;}
/* 棰滆壊 */
.blue{color:#458fce;}
/* 鎴挎簮绠＄悊淇敼浠锋牸寮圭獥 */
.inputmid{width: 95px;}
.inputsmall{width: 40px;}
/*缁撶畻绠＄悊*/
/*缁撶畻绠＄悊 鎼滅储 begin*/
.landlord-order,.orderdetails{height: 38px;border: #d0d3d6 solid 1px;background:#f5f8fa;line-height: 35px;color: #4c4c4c;padding:0 18px;_padding-top:8px;_height:30px;}
.landlord-order label,.orderdetails label{margin-right: 5px;}
.landlord-order{margin-bottom:16px;}
.pos-rel { position: relative;}
.inputcolor { background: none repeat scroll 0 0 #FFFFFF;  border: 1px solid #CDCBCB; color: #666666; height: 22px; line-height: 22px;  padding: 0 5px; width: 97px;}
.small-btn { background-position: 0 -325px; color: #666666; cursor: pointer;  height: 26px; margin-left: 10px; padding-bottom: 2px; width: 58px;}
.alert-btn,.alertactive-btn,.small-btn,.green-btn,.gray-btn { background-image: url("/resourcesWeb/images/Pcenter/button_icon.png"); background-repeat: no-repeat;}
.search-by-num{border:1px solid #A1A79D;padding-left: 5px;width: 204px; background: #fff; color: #666666; width: 200px; height:26px;line-height: 26px;}
/*缁撶畻绠＄悊 鎼滅储 end*/
/*缁撶畻绠＄悊 鍐呭 begin*/
.c-red{ color:#f00;}
.settleMT{ color:#4c4c4c; font-size: 14px; line-height: 30px;}
.settleMT ul li{ margin:0px 20px 10px 0px; float: left;}
.settleMT .null{ margin: 140px 0px; text-align: center; width:790px;}
.settle {width: 790px;  border-spacing: 1px 0px; border-collapse:separate;}
.settle thead tr{ background: #d3e0eb;}
.settle tbody tr{background:#fbfdfe;}
.settle thead th { height: 40px; text-align: center; color:#515d66; font-weight:bold;}
.settle td {  height: 40px; text-align: center; color:#666666; height: 35px;}
.settle tbody tr:nth-of-type(even){background:#f5f8fa;}/*鍋舵暟琛�*/
.settle tbody tr.even{background:#f5f8fa;}
.settle a{color:#458fce;}
.settle a:hover{color:#458fce; text-decoration: underline;}
#alert-settle .alert-title{ text-align: left; padding-left: 20px;}
#alert-settle .settle{border: 1px solid #cfdbe6; width:390px; margin: 25px auto;}
/*缁撶畻绠＄悊 鍐呭 end*/
.alter-pricebox li{margin-bottom: 10px;}
.alter-pricebox li.mb26,.price-set li.mb26{margin-bottom: 26px;}
.price-set li.mb26{position: relative;padding-top: 5px;overflow: visible;height: 26px;}
/* 娣诲姞鍛ㄧ鏈堢淇℃伅 */
.describe,.dissatisfy h4,.satisfy h4{font-size: 12px;margin-bottom: 5px;}
.suggest-box{margin:30px auto;padding: 5px 10px 1px 10px;width: 234px;overflow: hidden;}
.dissatisfy{border: 1px solid #ffcfac;background-color: #fff4ec;}
.dissatisfy h4{font-weight: bold;}
.satisfy{border: 1px solid #d1e7b6;background-color: #f7ffed;}
.dissatisfy h4,.describe{color: #666;}
.satisfy h4{color: #098706;}
.describe{overflow: hidden;}
.describe li{padding-left: 23px;line-height: 23px;background-image:url(/resourcesWeb/images/Pcenter/longrent.png);background-repeat: no-repeat;background-position: 1px -24px;}
.describe li.true{background-position: 1px 2px;}
.suggestfont{position: absolute;top: 32px;left: 95px;color: #999;font-size: 12px;}
/*閫熷畾 banner begin*/
.banner{position: relative;}
.ban-close{ background: url("/resourcesWeb/images/Pcenter/c.jpg") no-repeat; position: absolute; top:0px; right: 0px; width: 30px; height: 24px; cursor: pointer;}
/*閫熷畾 banner end*/

/* 鎴夸笢鍔╂墜 */
.helper{position: relative;height: 432px;background: url(/resourcesWeb/images/Pcenter/helper_banner.jpg) no-repeat;}
.client-download{position: absolute;bottom: 115px;right: 45px;width: 335px;overflow: hidden;}
.client-download li{float: left;margin-left: 30px;}
.client-download a,.helper-send,.newhelper{background-image: url(/resourcesWeb/images/Pcenter/helper_icon.png);background-repeat: no-repeat;}
.client-download a{display: block;width: 151px;height: 52px;}
.client-download a.iPhone{background-position: 0 -1px;}
.client-download a.iPhone:hover{background-position: 0 -55px;}
.client-download a.android{background-position: -156px -1px;}
.client-download a.android{background-position: -156px -1px;}
.client-download a.android:hover{background-position: -156px -55px;}
.noteQRcode{padding: 35px 120px;overflow: hidden;}
.note{color: #333;}
.note dt{font-size: 18px;}
.note dd{font-size: 12px;line-height: 22px;margin-top: 15px;}
.note dd a{color: #037b00;}
.note dd label{display: inline-block;line-height: 22px;}
.helper-send{display: block;margin-left: 51px;width: 80px;height: 32px;background-position: -2px -110px;}
.helper-send:hover{background-position: -85px -110px;}
.helper-large,.helper-mid{height: 30px;line-height: 30px;padding-left: 5px;border: 1px solid #cccaca;color: #4c4c4c;}
.helper-large{width: 197px;}
.helper-mid{width: 88px;}
.QRcode{display: inline-block;vertical-align: middle;margin:0 5px;width: 60px;height: 30px;border: 1px solid #cccaca;}
.newhelper{position: absolute;top: 1px;right: 3px;display: block;width: 25px;height: 14px;background-position: -168px -110px;}
.nomargin,.client-download li.nomargin{margin:0;}

/*璇勮閫佸僵绁�*/
.share{margin-top:28px;margin-left:159px;width:135px;height:28px;position:relative;}
.share li{width:40px;height:28px;float:left;margin-right:5px;}
.share li:hover{opacity:0.8;}
.share li a{background:url(/resourcesWeb/images/pjsucc.png) no-repeat;width:40px;height:28px;display:block;cursor:pointer;}
.share li .a1{background-position: 0px -29px;}
.share li .a2{background-position: 0px -58px;}
.share li .app1{left: 0px;position: absolute;top:38px;z-index:9999999999;}
.share li .a3{background-position: 0px -87px;}
.pjsuccess{z-index:199000000000;position:fixed;left:40%;bottom:160px;background:url(/resourcesWeb/images/pjsuccess.png) no-repeat;width:380px;height:402px;display:none;}
.pjsuccessWord{width:380px;margin-top:261px;text-align:center;color:#994c26;line-height:25px;}
.pjsuccessWord font{color:#e0383c;}
.pjsucc-close{background:url(/resourcesWeb/images/pjsucc.png) no-repeat 0px 0px;width:28px;height:28px;position:absolute;right:6px;top:6px;}
.pjsucc-close:hover{opacity:0.8;}

.shareGet{background:#f80;cursor:pointer;border-radius:3px;width:80px;height:25px;color: #fff !important;display: block;margin-top: 10px;margin-left: 13px;line-height: 25px;}
.shareSmall{width: 107px;height: 39px;z-index:2;position: absolute;right: 0px;top: 98px;display: none;background:url(/resourcesWeb/images/arrow_with_shadow.png) no-repeat;box-sizing:border-box;padding:0px 9px;}
.shareSmall span{color:#037c00;float: left;}
.weibosmall{background:url(/resourcesWeb/images/shareSmall.png) no-repeat 0px 0px;float: left;width:26px;height:19px;margin-right:5px;cursor:pointer;margin-top:14px;}
.kongjian{background:url(/resourcesWeb/images/shareSmall.png) no-repeat 0px -20px;width:26px;height:19px;float:left;margin-right:5px;cursor:pointer;margin-top:14px;}
.weixinSmall{background:url(/resourcesWeb/images/shareSmall.png) no-repeat 0px -40px;width:26px;height:19px;float:left;margin-top:14px;cursor:pointer;position:relative;}
.clearfix .addAdress-btn{background-image:url(/resourcesWeb/images/bookorder/indent_icon.png);display: block;width: 78px;height: 28px;text-align: center;line-height: 28px; background-repeat:repeat-x;background-position: 0px -323px;color:#444;border:#bcbcbc solid 1px;border-radius:2px;cursor:pointer;margin-top: 10px;}
.center-sidebar span.sfyz_current, .center-sidebar a:hover .sfyz{background:url(/resourcesWeb/images/sfya_hover_icon.png) no-repeat center center;}
.center-sidebar a .sfyz{background:url(/resourcesWeb/images/sfya_icon.png) no-repeat no-repeat}
.home-img{overflow:visible !important;position:relative;}
.bao_img{width:21px;height:26px;right:-7px;top:-5px;}
.free_tb{width:48px;height:22px;display:inline-block;right:-14px;top:-9px;}
.center-sidebar a{overflow:visible !important;}